<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <iframe src="https://drive.google.com/file/d/1YzrzgJ5fCn_RSHAH9E8uOjajw0BCb1uS/preview" width="640" height="480"></iframe>
   <iframe src="https://drive.google.com/file/d/11V-Sfh0OpmEyMew5W2G0s0y-kj37HSjc/preview" width="640" height="480"></iframe>
    <iframe src="https://drive.google.com/file/d/1VFg-s_0Urk_WyT1b23Fy6bn5ynNOhxwP/preview" width="640" height="480"></iframe> 
    <iframe src="https://drive.google.com/file/d/16gkPdeOCOjd6wan4e0CNdDJoH7YDE6NB/preview" width="640" height="480"></iframe> </head>
    
    "Link addresses 
    https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.eurogamer.net%2Farticles%2F2017-10-26-super-mario-odyssey-review_8&psig=AOvVaw1uzPbeZVh6XjSrlRSrn9Jz&ust=1610076888300000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKDw5PvxiO4CFQAAAAAdAAAAABAD    
    https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.eurogamer.net%2Farticles%2F2017-10-26-super-mario-odyssey-review_8&psig=AOvVaw1uzPbeZVh6XjSrlRSrn9Jz&ust=1610076888300000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiF3_X9iO4CFQAAAAAdAAAAABAD<body>
https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pocket-lint.com%2Fgames%2Fnews%2Fnintendo%2F153339-does-mario-sunbathing-pic-mean-mario-sunshine-for-switch-is-near&psig=AOvVaw2CVZM8xDe3IzGf3ESJ968S&ust=1610080018232000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPj_4Yb-iO4CFQAAAAAdAAAAABAD
    https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ign.com%2Fgames%2Fsuper-mario-64&psig=AOvVaw0wX6E1bedRkxr3FfCtFcr5&ust=1610075996723000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDnzNLuiO4CFQAAAAAdAAAAABAI    
    </body>




</html>


