<!DOCTYPE html>
<html lang="en">
<head>
<!--About Us Page-->
    <style>
body {
    background-image: url("");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid black; text-align:center;"> We are.../h1>
  <h1>Jacob</h1>
  
  <h1>Mustafa</h1>
  <iframe src="https://drive.google.com/file/d/1LIKJmYtudWs7tz4RWPGxvH_WXhIEuacB/preview" width="640" height="480"></iframe>
  <h1>Jason</h1>
  
  <h1>Dk</h1>
  
{% endblock %}
</body>
</html>
