<!DOCTYPE html>
<html lang="en">
<head>
<!--Mario Galaxy Page-->
    <style>
body {
    background-image: url("https://wallpapermemory.com/uploads/516/super-mario-galaxy-background-hd-1080p-421312.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Mario Galaxy</title>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid red; text-align:center;"> Lets Learn about Mario Galaxy</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QWhhMxrX-Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
</body>
</html>
