<!DOCTYPE html>
<html lang="en">
<head>
<!--Mario Galaxy Page-->
    <style>
body {
    background-image: url("https://wallpapermemory.com/uploads/516/super-mario-galaxy-background-hd-1080p-421312.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Mario Galaxy</title>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid black; text-align:center;"> Lets Learn about Mario Galaxy</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QWhhMxrX-Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h2 style="color:black; background-color:white; border: 2px solid black; text-align:left;"> Mario Galaxy released on November 1st, 2007. Follow Mario in a 3D environment as he explores space and a multitude of planets! Your quest is to save Princess Peach, defeat Bowser from destroying the universe, and collect 121 Power Stars across the galaxy! Use the Wii Remote and Nunjuck to control Mario in zero gravity! You'll meet plenty of familiar and new faces, like Toad and Rosalina! Check out the game now!</h2>

<h2 style="color:black; background-color:white; border: 2px solid black; text-align:center;">Here's a preview of the first 10 minutes of gameplay from Super Mario Galaxy</h2>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/cUPy1qhL69I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

{% endblock %}
</body>
</html>
