<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mario Museum</title>
    <style>
body {
    background-image: url("https://wallpaperaccess.com/full/514007.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Mario Museum</title>

</head>
<body>
<!-- Navbar -->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: solid black; text-align:center;"> Welcome to the Mario Museum!!!</h1>
<!-- filler pictures; later put interaction for our minigame -->
<iframe src="https://drive.google.com/file/d/1YzrzgJ5fCn_RSHAH9E8uOjajw0BCb1uS/preview" width="467" height="307"></iframe>
<iframe src="https://drive.google.com/file/d/11V-Sfh0OpmEyMew5W2G0s0y-kj37HSjc/preview" width="467" height="307"></iframe>
<iframe src="https://drive.google.com/file/d/1VFg-s_0Urk_WyT1b23Fy6bn5ynNOhxwP/preview" width="467" height="307"></iframe>
<iframe src="https://drive.google.com/file/d/16gkPdeOCOjd6wan4e0CNdDJoH7YDE6NB/preview" width="467" height="307"></iframe>
{% endblock %}
</body>
</html>
