<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
    background-image: url("https://wallpaperaccess.com/full/3005476.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Mario Sunshine</title>
    <h1 style="color:black; text-align:center;"> Lets Learn about Mario Sunshine</h1>
</head>
<body>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CEbVLf43aUE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>
