<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mario Odyssey</title>
<!--Mario Odyssey Page-->
    <style>
body {
    background-image: url("https://wallpapercave.com/wp/wp5863539.jpg");
    background-color: #cccccc;
    }
</style>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid red; text-align:center;"> Lets Learn about Mario Odyssey</h1>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/CoK-r0rjcb0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>

<h2 style="color:black; background-color:white; border: 2px solid red; text-align:left;"> Welcome to the most recent 3D Mario Game! Super Mario Odyssey released on October 27th, 2017. This game has the most and best controls in the Mario franchise! He can jump, dive, triple jump, and now through his hat! Follow Mario in a 3D environment as he has to save Princess Peach, who's being forced to attend a wedding with none other than Bowser! On his journey, Mario is granted a new ability, where he is able to take control of enemies with his hat, Cappy! In this game, you travel across the Mario world and explore different villages and civilizations! Use the Nintendo Switch controller to allow Mario to leap around using Cappy! When you have completed the main story, be sure to play a mini game featuring Luigi! Check out the game now!</h2>

<h2 style="color:black; background-color:white; border: 2px solid black; text-align:center;">Here's a preview of the first 10 minutes of gameplay from Super Mario Odyssey!</h2>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/dmIZsj_B8uI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
 
<!-- Easter Egg Button -->
<form>
    <button type="submit" formaction="http://13.56..11.208/egg">.</button>
</form>
{% endblock %}
</body>
</html>
