<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mario Odyssey</title>
<!--Mario Odyssey Page-->
    <style>
body {
    background-image: url("https://wallpapercave.com/wp/wp5863539.jpg");
    background-color: #cccccc;
    }
</style>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid red; text-align:center;"> Lets Learn about Mario Odyssey</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CoK-r0rjcb0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- Easter Egg Button -->
<form>
    <button type="submit" formaction="http://127.0.0.1:5000/egg">.</button>
</form>
{% endblock %}
</body>
</html>
