<!DOCTYPE html>
<html lang="en">
<head>
    <style>
body {
    background-image: url("https://wallpapercave.com/wp/wp5863539.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Mario Odyssey</title>
    <h1 style="color:white; text-align:center;"> Lets Learn about Mario Odyssey</h1>
</head>
<body>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CoK-r0rjcb0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>
