<!DOCTYPE html>
<html lang="en">
<head>
    <!--Super Mario 64 Page-->
    <style>
body {
    background-image: url("https://wallpaperaccess.com/full/2139875.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Super Mario 64</title>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid black; text-align:center;"> Lets Learn about Super Mario 64</h1>
<iframe width="560" height="315" align="right" src="https://www.youtube.com/embed/pYAjvWCVkH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
</body>
</html>
