<!DOCTYPE html>
<html lang="en">
<head>
    <!--Super Mario 64 Page-->
    <style>
body {
    background-image: url("https://wallpaperaccess.com/full/2139875.jpg");
    background-color: #cccccc;
    }
</style>
    <meta charset="UTF-8">
    <title>Super Mario 64</title>
</head>
<body>
<!-- Navbar and embedded soundtrack-->
{% extends "base.html" %}
{% block content %}
<h1 style="color:black; background-color:white; border: 2px solid black; text-align:center;"> Lets Learn about Super Mario 64</h1>
<iframe width="560" height="315" align="right" src="https://www.youtube.com/embed/pYAjvWCVkH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1> Back to the classics! Super Mario 64 released on June 23rd, 1996. This game is revolutionary due to how it was one of the first games to implement 3D mechanics accurately! Follow Mario in a 3D environment as he explores Princess Peach's castle and her magical paintings, which each contain a level inside! Mario has a multitude of moves that include a variety of leaps, dashes, and flips! Your goal is to stop Bowser, who has taken Princess Peach and he has kept her somewhere inside her castle! While exploring the main hall of the castle, Mario can collect 121 Power Stars to enter new rooms in the castle! Use the Nintendo 64 controller to allow Mario to shoot up in the sky using FLUDD! Get tips from Lakitu and the Toads spread across the hallways as well! Check out the game now!</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QwimWwKNt98" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Here's a preview of the first 10 minutes of gameplay from Super Mario 64</h1>
    
    
    
{% endblock %}
</body>
</html>
